<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{site.name}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="{{fonts_href}}" rel="stylesheet" />
    <style>{{{styles}}}</style>
  </head>
  <body>
    <div id="trellis-root" class="page">
      <div id="trellis-body">
        <aside class="left sidebar">
          <div class="page-header">
            <a href="/">
              <h1 class="page-title">{{site.name}}</h1>
            </a>
            {{#if site.tagline}}
              <p>{{site.tagline}}</p>
            {{/if}}
          </div>

          {{> components/explorer}}
        </aside>

        <main class="center">
          <article>
            <header class="page-header">
              <h1 class="page-title">{{article.title}}</h1>
              <p class="content-meta">
                {{#if article.created}}
                  <span>Created: {{article.created}}</span>
                  ·
                {{/if}}
                {{#if article.updated}}
                  <span>Updated: {{article.updated}}</span>
                  ·
                {{/if}}
                <span>{{article.read_time}}</span>
              </p>
            </header>
            <section class="page-content">
              {{{article.html}}}
            </section>
          </article>
          <footer>
            <p>Created with
              <a href="https://trellis.studium.dev/">Trellis v{{footer.version}}</a>
              ©
              {{footer.year}}</p>
            {{#if footer.links}}
              <ul>
                {{#each footer.links}}
                  <li><a href="{{href}}">{{text}}</a></li>
                {{/each}}
              </ul>
            {{/if}}
          </footer>
        </main>

        <aside class="right sidebar">
          <div class="graph">
            <h3>Graph</h3>
            <p>Graph view placeholder.</p>
          </div>
        </aside>
      </div>

    </div>

    <script type="importmap">{{{scripts.import_map}}}</script>
    <script type="module">{{{scripts.explorer}}}</script>
    <script type="module">{{{scripts.overlay_explorer}}}</script>
    <script type="module">{{{scripts.encrypted_note}}}</script>
    <script type="module">{{{scripts.mermaid}}}</script>
  </body>
</html>
